.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-text {
  color: black;
  margin-top: 5rem;
  font-weight: 500;
  font-style: italic;
  font-family: monospace;
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

svg{
  width:40px;
  height:40px;
  background-color: rgb(255, 255, 255);
}
svg * {
  width:  40%;
  height: 40%;
  fill:   rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
